<p class="text-center text-bg">A list of projects created by current user</p>


<div class="row">
  <div class="col-md-1">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="radioOptions" value=3 [(ngModel)]="selectedOption">
          <label class="form-check-label" for="radio1">Expired</label>
      </div>
  </div>
  <div class="col-md-1">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="radioOptions" value=0 [(ngModel)]="selectedOption">
          <label class="form-check-label" for="radio2">Draft</label>
      </div>
  </div>
  <div class="col-md-1">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="radioOptions" value=2 [(ngModel)]="selectedOption">
          <label class="form-check-label" for="radio3">Finished</label>
      </div>
  </div>
  <div class="col-md-1">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="radioOptions" value=1 [(ngModel)]="selectedOption">
          <label class="form-check-label" for="radio4">Published</label>
      </div>
  </div>
  <div class="col-md-1">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioOptions" value=4 [(ngModel)]="selectedOption">
        <label class="form-check-label" for="radio4">All</label>
    </div>
</div>
  <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="applyFilter()">Фільтрувати</button>
  </div>
  <div class="col-6 text-end">
    <a (click)="goToCreateProject()" class="btn btn-secondary">
      <i class="bi bi-plus-square"></i>
      Створити новий стартап
    </a>
  </div>
</div>

<div class="row">
  <div class="card my-3" *ngFor="let proj of projects let i = index">
    <div class="card-header rounded-3" [ngClass]="getStatusColor(proj.status)">
      <div class="row">
        <div class="col-6">
          <button class="btn text-primary-emphasis" (click)="toggleCollapse(i)">
            <i class="bi" [ngClass]="{ 'bi-caret-up-square-fill': isOpened[i], 'bi-caret-down-square-fill': !isOpened[i] }"></i>
             {{proj.title}}
          </button>
        </div>
        <div class="col-6 text-end">
          <a (click)="goToProjectDetails(proj.id)" class="btn btn-info mx-2">Деталі</a>
          <a *ngIf="proj.status === 'Draft'" (click)="publishItem(proj.id)" class="btn btn-primary align-right mx-1">Опублікувати</a>
          <a *ngIf="proj.status === 'Draft'" (click)="deleteProject(proj.id)" class="btn btn-warning align-right mx-1"><i class="bi bi-pencil-square"></i></a>
          <a *ngIf="proj.investedMoney === 0" (click)="deleteProject(proj.id)" class="btn btn-danger align-right mx-1"><i class="bi bi-trash3"></i></a>
        </div>
      </div>
    </div>

    <div id="collapseOne" [ngClass]="{ 'show': isOpened[i], 'collapse': !isOpened[i] }" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body rounded-3">
        <p>{{proj.description}}</p>
        <p>{{proj.status}}</p>
        <div class="my-3"> Зібрано {{ proj.investedMoney }} з {{proj.requiredMoney}} </div>
        <div class="progress">
          <div class="progress-bar bg-success"  [ngStyle]="{ 'width': proj.investedMoney / proj.requiredMoney * 100 + '%' }">
        </div>
      </div>
    </div>
  </div>
</div>